repos:
  - repo: https://github.com/google/go-jsonnet
    rev: v0.21.0
    hooks:
      - id: jsonnet-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
